*~
/addon.el
/builtins12
/builtins13
/doc/fdl.texi
/font-locks-for-Wilson
/maple
/maplev-2.16
/maplev-2.16.tar.gz
/maplev-2.16.zip
/maplev.elc
/maplev.mla
/object.mpl
/patch-erik1
/protected.mpl
/sandbox/
/temp.mpl
/test/
/tmp/
/releases/
*.elc
