*.elc
*~
/addon.el
/builtins12
/builtins13
/bugs/
/doc/maplev.info
/font-locks-for-Wilson
/maplev-*
/maplev.elc
/maplev.mla
/object.mpl
/patch-erik1
/protected.mpl
/releases/
/sandbox/
/temp.mpl
/test/
/tmp/
/VERSION
/lisp/ob-maple-orig.el
/lisp/ob-maple.out
/lisp/ob-maple.tex
/lisp/speedbar.mm
/lisp/speedbar.mpl
/lisp/maplev.wy
/lisp/keywords.mpl
/lisp/Makefile
/lisp/*_el
/pmaple/bin.*
/NOTES
/TODO
/lisp/mpl.grammar
/lisp/maplev-release.el
/lisp/maplev-config.html
/lisp/ob-calc.org
/lisp/OptionBuilder.org
/README.html
/doc/version.texi
